:root {
    --bg-color: #333333;
    --text-color: #ffffff;
    --main-color: #8cfffa;
}

.light-mode {
    --bg-color: #ffffff;
    --text-color: #333333;
    --main-color: #8cfffa;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 600px;
    text-align: left;
    padding: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

.highlight {
    font-weight: bold;
    color: var(--main-color);
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }
}